<a href="https://colab.research.google.com/github/hussnain060/O-bhains/blob/main/data_access.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import gspread
from gspread_dataframe import get_as_dataframe,set_with_dataframe
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [2]:
auth.authenticate_user()
gc = gspread.authorize(GoogleCredentials.get_application_default())

***When below section run ... a url show click on url and login with your account it... copy sign in key and paste it into text box and press enter***

In [6]:
sheet_url = "https://docs.google.com/spreadsheets/d/1AJSGHiLQvwlPYY7RPyS7nlYwLmof70DC-NVHT-o7QtE/edit?usp=drivesdk"
sheet_id = gc.open_by_url(sheet_url)

In [4]:
ws = sheet_id.worksheet("Sheet1")

In [9]:
sheet1_df = get_as_dataframe(ws)
sheet1_df = sheet1_df.iloc[:,:6]
sheet1_df

            date         time  temperature  x_axix  y_axix  z_axix
0     10/09/2021  10:38:32 AM        95.23    5.35   -1.26   -8.01
1     10/09/2021  10:38:34 AM        96.13    5.37   -1.44   -7.61
2     10/09/2021  10:38:36 AM        95.13    6.11   -1.91   -7.12
3     10/09/2021  10:38:38 AM        95.67    5.94   -1.28   -7.02
4     10/09/2021  10:38:40 AM        95.70    5.88   -1.65   -7.34
...          ...          ...          ...     ...     ...     ...
4743  10/09/2021   2:21:25 PM        97.65   -6.10   -1.81   -6.82
4744  10/09/2021   2:21:27 PM        97.54   -6.99   -1.39   -7.14
4745  10/09/2021   2:21:29 PM        97.39   -6.03   -1.93   -6.90
4746  10/09/2021   2:21:31 PM        97.18   -6.04   -0.23   -7.39
4747  10/09/2021   2:21:34 PM        96.39   -6.17   -2.01   -7.51

[4748 rows x 6 columns]

In [11]:
sheet1_df.to_csv(file3.csv', index=False)